# Temporary files and compilation files
*.obj
*.o
*.exe
*.dll
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
*.tmp
*.tmp*
*.log
*.log*

# Build Folders
bin/
obj/
Debug/
Release/

# Visual Studio Specific Files
.vs/
*.csproj.user
*.vcxproj.user
*.fsproj.user
*.vbproj.user
*.suo
*.sdf

# Test files
TestResults/
*.trx

# Configuration files
*.ini

# Local files
.env
secrets.json
